.random-pokemon {
    display: flex;
    padding: 1rem;
}

.random-pokemon .list-group {
    margin: 1rem 0 0 1rem;
}

.random-pokemon .list-group-item {
    padding: .25rem;
}

.random-pokemon .list-group-item .term {
    margin-right: .5rem;
}

.random-pokemon .poke-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 1rem;
}